@page "/Opt-in-agreement"

<h3>By agreeing to do business with Victor Nassar, you automically Opt-In to recieve (free) SMS notifications to the number you provide as primary form on contact while your app is in development.</h3>

@code {

}
